# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# SQLite DB
*.sqlite3
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Pytest cache
.pytest_cache/

# Uvicorn reload artifacts
*.pid
